[submodule "DaisySP"]
	path = DaisySP
	url = git@github.com:electro-smith/DaisySP.git
	branch = master
[submodule "stmlib"]
	path = stmlib
	url = git@github.com:pichenettes/stmlib.git
[submodule "libDaisy"]
	path = libDaisy
	url = git@github.com:electro-smith/libDaisy.git
